{% extends 'base.html' %}
{% load static %}
{% block titulo %}Hoy se Juega? - Canchas{% endblock titulo %}
{% block canchasButton %}
<a href="/canchas/" class="navButton"><li id="ButtonSelected">Canchas</li></a>
{% endblock %}
{% block  section%}
<link rel="stylesheet" href="{% static 'futbol5/styleSection.css' %}">
    
{% if user.is_authenticated %}


    <div class="inscrip">
        <div class="inscButton">
            <a href="/inscripciones/crearCancha">Crear cancha</a>

        </div>
    </div>
    <div class="formCancha">
        <form method="POST"> {% csrf_token %}
            {{formCancha.as_p}}
            <input type="submit" value="Guardar">
        </form>

    </div>
{% else %}
    <a href="{% url 'login' %} " style="color:#FFFFFF"><i class="fa-solid fa-right-to-bracket"></i> Iniciar Sesión</a>
{% endif %} 
{% endblock  %}