{% extends 'base.html' %}
{% load static %}
{% block titulo %}Hoy se juega? - Equipos{% endblock titulo %}
{% block equiposButton %}
<a href="/equipos/" class="navButton"><li id="ButtonSelected">Equipos</li></a>
{% endblock %}
{% block  section%}
<link rel="stylesheet" href="{% static 'futbol5/styleSection.css' %}">
    <div class="form">
        <div class= "contenedorEquipo">
            <div class="etiquetas"><p>Nombre del equipo</p></div>
            <div class="etiquetas">Integrantes</div>
        </div>
    {% block lista %}
    {% for equipo in equipos %}
        <div class= "contenedorEquipo">            
            <div class="dato">{{equipo.nombre}}</div>
            <div class="dato">{{equipo.integrantes}}</div>
        </div>
    {% endfor %}
    {% endblock lista %}
    </div> 
{% endblock  %}