{% extends 'base.html' %}
{% load static %}
{% block titulo %}Hoy se Juega - Inscripciones{% endblock titulo %}
{% block inscripcionesButton %}
<a href="/inscripciones/" class="navButton"><li id="ButtonSelected">Inscripciones</li></a>
{% endblock %}
{% block  section%}
<link rel="stylesheet" href="{% static 'futbol5/styleSection.css' %}">
    <div class="inscrip">
        <div class="inscButton">
            <a href="/inscripciones/crearEquipo/">Crear equipo</a>

        </div>
        <div class="inscButton">
            <a href="/inscripciones/crearJugador/">Crear Jugador</a>
        </div>
    </div>
    <div class="form">
        <div class= "contenedorLista">
            <div class="etiquetas">Nombre y apellido</div>
            <div class="etiquetas">e-mail</div>
            <div class="etiquetas">DNI</div>
            <div class="etiquetas">Edad</div>
            <div class="etiquetas">Equipo</div>
        </div>
    {% block lista %}
    {% for jugador in jugadores %}
        <div class= "contenedorLista">            
            <div class="dato">{{jugador.nombre}}&nbsp{{jugador.apellido}}</div>
            <div class="dato">{{jugador.email}}</div>
            <div class="dato">{{jugador.dni}}</div>
            <div class="dato">{{jugador.edad}}</div>
            <div class="dato">{{jugador.equipo.nombre}}</div>
        </div>
    {% endfor %}
    {% endblock lista %}
    </div>
{% endblock section%}