.inscrip {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.inscButton a {
    padding: 10px;
    margin: 10px;
    width: 90%;
    border-radius: 5px;
    border-width: 3px;
    background-color: rgb(130, 205, 71);
    border-color: rgb(84, 180, 53);
    border-style: solid;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

.inscButton a:hover {
    box-shadow: 3px 3px 20px 9px rgb(240, 255, 66);
    color: rgb(240, 255, 66);
}